<div style="position: absolute; top: 0px; left: 0px; z-index:5; box-shadow: 15px 0px 15px -17px rgba(0,0,0,0.45), -15px 0px 15px -17px rgba(0,0,0,0.45);" *ngIf="panel" [@slideIn]>
<div style="width: 475px; height: 53px; line-height:53px; background-color:#00a5cc;">
  <span style="padding-left:26px; vertical-align:middle; color: white; font-size: 22px;">{{panel.model.class_name}}</span>
</div>
<div style="width: 475px; height: 800px; padding:0px; background-color:#eaeaea; padding-top:13px;">

  <div style="width: 96%;">
    <app-value-row *ngFor="let row of modelTree.nodes" [model]="row" [level]="0"></app-value-row>
  </div>

</div>
</div>